:root {
  --primary-color: #ffffff;
  --sec-color: #000000;
  --light-accent-color: #77cdfc;
  --accent-color: #54c3ff;
  --accent-sec-color: #39a9da;
  --bg-color: #f7f7f7;
  --bg-sec-color: #e0e0e0;
  --hover-color: #b0b0b0;
}
* {
  transition: 0.3s ease-in;
}
/*SHOPPARENT tyling start*/
.shop-parent {
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding: 50px 0 100px;
}
/*VIEWOPTIONS styling start*/
.header-shop {
  position: relative;
  padding: 30px 0;
  width: 100%;
  z-index: 1;
}
.product-view-controls {
  display: flex;
  align-items: center;
}
.sorting-options-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 50px;
}
.product-view-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  margin: 20px 0;
}

.sorting-options-container {
  display: flex;
  align-items: center;
}
.list-options {
  display: flex;
  align-items: center;
  gap: 5px;
}

.sorting-options-container label {
  font-weight: 500;
  font-size: 0.8rem;
  opacity: 0.4;
  text-transform: capitalize;
}
.sorting-options-container select {
  padding: 5px;
  border-radius: 5px;
  font-size: 0.8rem;
  transition: border-color 0.3s;
  width: auto;
  white-space: nowrap;
  cursor: pointer;
}

.sorting-options-container select:hover {
  border-color: var(--accent-color);
}

.sorting-options-container option {
  background-color: var(--bg-color);
  color: var(--sec-color);
  border: none;
}
.sorting-options-container select:focus {
  outline: none;
}
/*VIEWOPTIONS styling end*/

/*SHOP PRODUCTS GRID styling start*/
.shop-grid-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.shop-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
  row-gap: 30px;
  align-items: start;
}
.shop-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  border-radius: 5px 5px 0 0;
}
.shp-child-image-container {
  position: relative;
  width: 260px;
  height: 350px;
  object-fit: cover;
}
.shp-child-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.shp-child-discount-overlay {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 0.8rem;
  font-weight: 600;
  border-radius: 20px;
  padding: 7px 10px;
  color: var(--primary-color);
  background-color: var(--accent-color);
}
.info-icon-overlay {
  position: absolute;
  top: 8px;
  left: 15px;
  width: 30px;
  opacity: 0;
  cursor: pointer;
}
.info-icon-overlay:hover {
  filter: invert(1);
}
.shp-child-btn-overlay {
  position: absolute;
  top: 50%;
  left: 34%;
  padding: 10px 20px;
  font-size: 0.8rem;
  font-weight: 600;
  border-radius: 20px;
  background-color: var(--sec-color);
  color: var(--primary-color);
  opacity: 0;

  cursor: pointer;
}

.shp-child-image-container:hover .shp-child-btn-overlay,
.shp-child-image-container:hover .info-icon-overlay {
  opacity: 1;
}
.shp-child-btn-overlay:hover {
  background-color: var(--primary-color);
  color: var(--sec-color);
}
.shp-child-infos {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}
.shp-child-titles {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.shp-child-name {
  font-size: 1.1rem;
  font-weight: 700;
  color: var(--sec-color);
}
.shp-child-desc {
  font-size: 0.7rem;
  font-weight: 500;
  width: 90%;
  color: var(--sec-color);
  opacity: 0.7;
}
.shp-child-prices {
  display: flex;
  align-items: center;
  gap: 20px;
}
.shp-child-price {
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--sec-color);
}
.shp-child-discount {
  position: relative;
  font-size: 0.8rem;
  font-weight: 600;
  color: rgb(254, 76, 76);
}
.shp-child-discount::after {
  position: absolute;
  content: "";
  top: 7px;
  left: 0;
  transform: rotate(10deg);
  background-color: rgb(249, 78, 78);
  width: 100%;
  height: 1.5px;
}
/*SHOP PRODUCTS GRID end*/

/*SHOP PAGINATION styling start*/
.shop-pagination-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
.shop-pagin-content {
  display: flex;
  align-items: center;
  gap: 10px;
}
.shop-pagin-img {
  width: 22px;
  opacity: 0.7;
  cursor: pointer;
}
.shop-pagin-img:hover {
  transform: scale(1.08);
}
.shop-pagin-dot {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: rgb(214, 214, 214);
  box-shadow: 0px 0px 2px rgb(0, 0, 0, 0.4);
}
.shop-pagin-dot.active {
  background-color: rgb(169, 169, 169);
}
/*SHOP PAGINATION styling end*/

/*FOOTER SHOP styling start*/
.footer-shop {
  background-color: var(--sec-color);
  padding: 5.1em 0 1.5em;
}
.footer-item-title-shop,
.footer-item-shop a,
.footer-phone-shop,
.footer-email-shop,
.footer-social-icon-shop,
.footer-rights-shop,
.footer-divider-shop {
  color: var(--primary-color);
  fill: var(--primary-color);
}

.footer-divider-shop {
  background-color: var(--primary-color);
}
/*FOOTER SHOP styling end*/
