:root {
  --primary-color: #ffffff;
  --sec-color: #000000;
  --light-accent-color: #77cdfc;
  --accent-color: #54c3ff;
  --accent-sec-color: #39a9da;
  --bg-color: #f7f7f7;
  --bg-sec-color: #e0e0e0;
  --hover-color: #b0b0b0;
}
/*SHOPPARENT tyling start*/
.shop-parent {
  display: flex;
  flex-direction: column;
}
/*VIEWOPTIONS styling start*/
.header-shop {
  position: relative;
  padding: 20px 0;
  width: 100%;
  z-index: 1;
}

.product-view-controls {
  display: flex;
  align-items: center;
}
.sorting-options-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 50px;
}
.product-view-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  margin: 20px 0;
}

.sorting-options-container {
  display: flex;
  align-items: center;
}
.list-options {
  display: flex;
  align-items: center;
  gap: 5px;
}

.sorting-options-container label {
  font-weight: 500;
  font-size: 0.8rem;
  opacity: 0.4;
  text-transform: capitalize;
}
.sorting-options-container select {
  padding: 5px;
  border-radius: 5px;
  font-size: 0.8rem;
  transition: border-color 0.3s;
  width: auto;
  white-space: nowrap;
}

.sorting-options-container select:hover {
  border-color: var(--accent-color);
}

.sorting-options-container option {
  background-color: var(--bg-color);
  color: var(--sec-color);
  border: none;
}
.sorting-options-container select:focus {
  outline: none;
}
/*VIEWOPTIONS styling end*/

/*SHOPPRODUCTS GRID styling start*/
.shop-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: start;
}
.shop-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  border-radius: 5px 5px 0 0;
}
.shp-child-image-container {
  max-width: 200px;
  object-fit: cover;
}
.shp-child-img {
  width: 100%;
}
.shp-child-infos {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5px;
}
.shp-child-name {
  font-size: 1rem;
  font-weight: 700;
  color: var(--sec-color);
}
.shp-child-desc {
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--sec-color);
  opacity: 0.7;
}
.shp-child-prices {
  display: flex;
  align-items: center;
  gap: 20px;
}
.shp-child-price {
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--sec-color);
}
.shp-child-discount {
  position: relative;
  font-size: 0.8rem;
  font-weight: 600;
  color: rgb(254, 76, 76);
}
.shp-child-discount::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  transform: rotate(60deg);
  background-color: rgb(210, 63, 63);
  width: 100%;
  height: 1px;
}
