:root {
  --primary-color: #ffffff;
  --sec-color: #000000;
  --light-accent-color: #77cdfc;
  --accent-color: #54c3ff;
  --accent-sec-color: #39a9da;
  --bg-color: #f7f7f7;
  --bg-sec-color: #e0e0e0;
  --hover-color: #b0b0b0;
}

/*global styling start*/
* {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: var(--sec-color);
  font-family: "Roboto", sans-serif;
  transition: 0.3s ease;
  scroll-behavior: smooth;
  /* font-family: "Merriweather", serif;*/
}
a {
  all: none;
}
body {
  background-color: var(--primary-color);
}
.prod-img-container {
  max-width: 100px;
}
.prod-img {
  width: 100%;
}
.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}

.scroll-anim {
  animation: appearOnScroll linear;
  animation-timeline: view();
  animation-range: entry 0 cover 40%;
}
@keyframes appearOnScroll {
  0% {
    opacity: 0;
    transform: translateY(20px) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
/*GLOBAL styling end*/

/*HEADER styling start*/
.header {
  position: absolute;
  top: 0;
  padding: 30px 0;
  width: 100%;
  z-index: 1;
}
.header-content {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: space-b;
  gap: 5px;
}
.logo-name {
  justify-self: start;
  font-family: "Merriweather", serif;
  font-size: 2rem;
  font-weight: bolder;
  text-transform: uppercase;
  user-select: text;
}
.navigation-list {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 20px;
}
.navigation-item {
  width: 24px;
  user-select: text;
  cursor: pointer;
}
.navigation-item:hover {
  opacity: 0.7;
}
.input-field-container {
  position: relative;
  display: none;
}
.input-field-icon {
  position: absolute;
  bottom: 20%;
  right: 5%;
  width: 16px;
}
.search-field {
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--sec-color);
  border-bottom: 1.5px solid var(--sec-color);
  border-radius: 10px;
  padding: 6px;
  max-width: 150px;
  box-shadow: 0 0px 10px rgb(0, 0, 0, 0.3);
}
/*HEADER styling end*/

/*HERO styling start*/
.hero {
  background-color: var(--bg-color);
}
.hero-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  gap: 10px;
  max-height: 105vh;
  padding-top: 100px;
  overflow: hidden;
}

.hero-infos-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}
.hero-infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}
.hero-titles-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}
.hero-sec-title {
  font-family: "Yellowtail", cursive;
  font-size: 1rem;
  letter-spacing: 2px;
  opacity: 0.7;
}
.hero-title {
  font-size: 3rem;
  font-weight: bold;
  max-width: 80%;
  text-transform: capitalize;
}
.hero-title span,
.hero-desc span {
  color: var(--accent-color);
  text-transform: uppercase;
  opacity: 1;
}
.hero-desc {
  font-size: 1rem;
  font-weight: light;
  opacity: 0.7;
  max-width: 70%;
}
.bold-span {
  color: var(--accent-color);
  text-transform: uppercase;
  opacity: 1;
}
.hero-buttons {
  display: flex;
  align-items: center;
  gap: 15px;
}
.cta-btn {
  width: fit-content;
  padding: 10px 20px;
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: capitalize;
  border-radius: 5px;
  background-color: var(--accent-color);
  color: var(--primary-color);
  cursor: pointer;
}
.cta-btn:hover {
  background-color: var(--accent-sec-color);
}
.info-btn {
  width: fit-content;
  padding: 8px 18px;
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: capitalize;
  border: 2px solid var(--accent-color);
  border-radius: 5px;
  background-color: transparent;
  color: var(--accent-color);
  cursor: pointer;
}
.info-btn:hover {
  opacity: 0.7;
}
.hero-img-cont {
  max-width: 600px;
}

.hero-img {
  width: 100%;
  object-fit: cover;
  transform: scale(1.45);
  cursor: pointer;
}
/*HERO styling end*/
/*SBCTG styling start*/
.sbctg {
  background-color: var(--primary-color);
  padding: 50px 0 0;
  height: 100vh;
}
.sbctg-content {
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.sbctg-customer-benefit-parent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sbctg-customer-benefit-child {
  display: flex;
  align-items: center;
  gap: 12px;
}
.sbctg-customer-benefit-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
}
.sbctg-customer-benefit-title {
  font-size: 1rem;
}
.sbctg-customer-benefit-sec-title {
  font-size: 0.6rem;
  opacity: 0.7;
}
.sbctg-customer-benefit-icon {
  width: 35px;
}
.sbctg-parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 350px;
  overflow: hidden;
  gap: 15px;
}

.sbctg-side-parent {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 15px;
}
.sbctg-side-parent .sbctg-side-child:first-child {
  background: linear-gradient(350deg, #b3e0b3, #d1f0d1);
}
.sbctg-side-parent .sbctg-side-child:last-child {
  background: linear-gradient(350deg, #bb8ab4, #fac8eb);
}
.sbctg-child {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  background: linear-gradient(350deg, #a3c1e0, #d1e6f0);
}
.sbctg-side-child {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}
.sbctg-child-info {
  position: absolute;
  left: 10%;
  top: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}
.sbctg-side-child-info {
  position: absolute;
  right: 20%;
  top: 30%;
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.sbctg-titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}
.sbctg-sec-title {
  font-size: 0.9rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--sec-color);
  opacity: 0.7;
}
.sbctg-side-sec-title {
  font-size: 0.7rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--sec-color);
  opacity: 0.7;
}
.sbctg-title {
  font-size: 2rem;
  font-weight: 800;
  text-transform: capitalize;
  color: var(--sec-color);
}
.sbctg-side-title {
  font-size: 1.3rem;
  font-weight: 800;
  text-transform: capitalize;
  color: var(--sec-color);
}
.sbctg-btn {
  font-size: 0.8rem;
  font-weight: 600;
  width: fit-content;
  border-radius: 4px;
  padding: 6px 10px;
  color: var(--primary-color);
  background-color: var(--sec-color);
  cursor: pointer;
}
.sbctg-btn:hover {
  background-color: var(--accent-sec-color);
}
.sbctg-side-btn {
  font-size: 0.7rem;
  font-weight: 600;
  width: fit-content;
  border-radius: 2px;
  padding: 5px 9px;
  color: var(--primary-color);
  background-color: var(--sec-color);
  cursor: pointer;
}
.sbctg-side-btn:hover {
  background-color: var(--accent-sec-color);
}
.sbctg-img-container {
  position: absolute;
  bottom: -35%;
  left: 0;
  max-width: 150px;
}
.sbctg-main-img-container {
  position: absolute;
  bottom: -25%;
  right: -20%;
  max-width: 400px;
}
.sbctg-img {
  width: 100%;
}
/*SBCTG styling end*/

/*FTRPROD styling start*/
.ftr-prod {
  position: relative;
  min-height: 100vh;
  margin-bottom: 100px;
}
.ftr-prod-sect-title-container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
}
.ftr-prod-sect-title {
  position: relative;
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: capitalize;
  margin: 80px 0;
  cursor: pointer;
}
.ftr-prod-sect-title::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background-color: var(--sec-color);
  cursor: pointer;
  transition: width 0.3s ease;
}
.ftr-prod-sect-title:hover.ftr-prod-sect-title::after {
  width: 10%;
}
.ftr-prod-parent {
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: 20px;
  scrollbar-width: none;
  padding: 0 60px;
  overflow-x: scroll;
}

.ftr-prod-parent::-webkit-scrollbar {
  display: none;
}

.ftr-prod-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.ftr-prod-pagination-arrows {
  position: absolute;
  display: flex;
  top: 20%;
  right: 60px;
  gap: 5px;
}
.pagination-icon {
  width: 40px;
  cursor: pointer;
}
.pagination-icon:hover {
  scale: 1.05;
}

.ftr-prod-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.ftr-prod-titles {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.ftr-prod-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--sec-color);
}
.ftr-prod-desc {
  font-size: 1rem;
  font-weight: 400;
  color: var(--sec-color);
  opacity: 0.8;
  max-width: 90%;
}
.ftr-prod-buttons {
  display: flex;
  align-items: center;
  gap: 15px;
}
.ftr-prod-btn {
  font-size: 0.8rem;
  font-weight: 600;
  background-color: var(--accent-sec-color);
  color: var(--primary-color);
  padding: 7px 14px;
  border-radius: 4px;
  cursor: pointer;
}
.ftr-prod-btn:hover {
  background-color: var(--accent-color);
}
.ftr-prod-price {
  font-size: 1rem;
  font-weight: 550;
}
.ftr-prod-img-cont {
  width: 350px;
  height: 450px;
  object-fit: cover;
}
.ftr-prod-img {
  border-radius: 8px;
  width: 100%;
  height: 100%;
}
/*FTRPROD styiling end*/

/*REVIEWES styling start*/
.reviews {
  margin: 100px 0 0;
  background-color: var(--sec-color);
  box-shadow: 0 0 20px rgb(7, 7, 7, 0.3);
  z-index: 4;
}
.reviews-content {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
  height: fit-content;
  padding: 100px 0;
}
.reviews-left {
  height: 100%;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reviews-left-content {
  position: sticky;
  top: 0;
  scrollbar-width: none;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 100px 0;
  gap: 30px;
}
.reviews-left-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.reviews-left-title {
  font-size: 3rem;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--primary-color);
}
.reviews-left-desc {
  font-size: 1rem;
  font-weight: 600;
  color: var(--bg-sec-color);
  opacity: 0.8;
}
.reviews-left-btn {
  position: relative;
  font-size: 1rem;
  background-color: transparent;
  color: var(--bg-sec-color);
  width: fit-content;
  cursor: pointer;
}
.reviews-left-btn::after {
  position: absolute;
  content: "";
  bottom: -20%;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: var(--bg-sec-color);
  transition: 0.3s ease;
}
.reviews-left-btn:hover.reviews-left-btn::after {
  width: 10%;
}
.reviews-right {
  position: relative;
  display: flex;
}
.reviews-right-parent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 100px 0;

  max-width: 500px;
  background-color: transparent;
  border-radius: 10px;
}
.reviews-right-child {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  scrollbar-width: none;
  background: var(--bg-color);
  box-shadow: 0 0px 30px rgba(0, 0, 0, 1);
  height: 100%;
  gap: 30px;
  overflow-y: auto;
  padding: 100px 50px;
  border-radius: 10px;
}
.reviews-right-child:nth-child(1) {
  top: 50px;
  transform: rotate(2deg);
  background: linear-gradient(135deg, #3e2a47, #6f4d7a);
}
.reviews-right-child:nth-child(2) {
  top: 60px;
  transform: rotate(-5deg);

  background: linear-gradient(135deg, #2c3e50, #4ca1af);
}
.reviews-right-child:nth-child(3) {
  top: 80px;
  transform: rotate(5deg);

  background: linear-gradient(135deg, #4b6cb7, #182848);
}
.reviews-right-child:nth-child(4) {
  top: 100px;
  transform: rotate(-4deg);

  background: linear-gradient(135deg, #bd4f00, #96054b);
}
.reviews-right-child:nth-child(5) {
  top: 120px;
  background: linear-gradient(135deg, #bf5f47, #6b4c34);
}
.reviews-right-parent::-webkit-scrollbar {
  display: none;
}
.reviewer-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.reviewer-opinion {
  font-size: 1rem;
  text-align: center;
  color: var(--primary-color);
}
.reviewer-name {
  color: var(--bg-sec-color);
  font-size: 0.8rem;
}
.reviewer-icon-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.reviewer-icon {
  object-fit: cover;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.reviewer-stars {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.star-icon,
.half-star-icon {
  width: 20px;
}

/*REVIEWES styling end*/

/*JOINUS styling start*/
.join-us {
  display: flex;
  background-color: var(--sec-color);
  min-height: 80vh;
  padding: 1em 0 200px;
}
.join-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  padding: 4em 5em;
  background: linear-gradient(180deg, var(--primary-color), var(--sec-color));
  border-radius: 10px;
  max-width: 800px;
  margin: auto;
  box-shadow: 0 0 20px rgb(0, 0, 0, 0.3);
}
.join-infos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.join-title {
  font-size: 2.2rem;
  font-weight: 800;
  text-transform: capitalize;
  color: var(--sec-color);
}
.join-desc {
  font-size: 1rem;
  color: var(--sec-color);
  width: 80%;
  text-align: center;
  opacity: 0.7;
}
.join-form-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}
.join-form {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
}
.join-input {
  font-size: 1.5rem;
  border-radius: 5px;
  padding: 15px;
  width: 100%;
  background-color: var(--bg-color);
}
.join-input::placeholder {
  opacity: 0.8;
}
.join-submit {
  font-size: 1.5rem;
  text-transform: capitalize;
  font-weight: 600;
  border-radius: 5px;
  padding: 15px 50px;
  color: var(--primary-color);
  background-color: var(--sec-color);
  cursor: pointer;
}
.join-submit:hover {
  opacity: 0.7;
}
.join-privacy {
  display: flex;
  align-items: center;
  gap: 4px;
}
.join-privacy-desc-cont {
  display: flex;
  align-items: center;
  gap: 8px;
}
.join-privacy-desc {
  font-size: 0.8rem;
  font-weight: 500;
  text-transform: capitalize;
  color: rgb(211, 211, 211);
}
.join-terms-cond {
  font-size: 0.85rem;
  font-weight: 600;
  color: var(--primary-color);
  cursor: pointer;
  opacity: 0.9;
}
.join-terms-cond:hover {
  opacity: 0.4;
}
.join-checkbox {
  width: 18px;
  height: 18px;
  background-color: #f0f0f0;
  border: 2px solid #bbb;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  appearance: none;
}
.join-checkbox:checked {
  background-color: var(--sec-color);
}
.join-checkbox:checked::after {
  content: "";
  position: absolute;
  left: 4.5px;
  top: 1.5px;
  width: 2px;
  height: 6px;
  border: solid rgb(255, 255, 255);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
/*FOOTER styling start*/
.footer {
  background-color: var(--primary-color);
  padding: 5.1em 0 1.5em;
}
.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}
.footer-top {
  display: flex;
  align-items: center;
}
.footer-sections {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  column-gap: 5px;
  row-gap: 40px;
}
.footer-section {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  gap: 10px;
}
.footer-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 5px;
}
.footer-item-title {
  font-size: 1.1rem;
  font-weight: 800;
  color: var(--sec-color);
}

.footer-item a {
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--sec-color);
  opacity: 0.7;
  cursor: pointer;
}
.footer-item a:hover {
  opacity: 1;
}
.footer-divider {
  width: 100%;
  height: 1px;
  background-color: var(--sec-color);
  border-radius: 5px;
  margin: 5.5em 0 1em;
}
.footer-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.footer-social-container {
  display: flex;
  align-items: center;
  gap: 15px;
}
.footer-social-icon {
  width: 18px;
  cursor: pointer;
}
.footer-social-icon:hover {
  fill: var(--social-icon-color);
}
.footer-rights {
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--sec-color);
  opacity: 0.9;
}

.footer-email,
.footer-phone {
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--sec-color);
  opacity: 0.7;
  transition: 0.5s ease-in;
}
.footer-email:hover,
.footer-phone:hover {
  color: var(--accent-sec-color);
}
/*MEDIA querries start*/
@media (max-width: 1200px) {
  .container {
    width: 95%;
  }
}
@media (max-width: 992px) {
  .container {
    width: 95%;
  }
}
@media (max-width: 768px) {
  .container {
    width: 100%;
    padding: 0 10px;
  }
}
@media (max-width: 576px) {
  .container {
    width: 100%;
    padding: 0 5px;
  }
}
