:root {
  --primary-color: #ffffff;
  --sec-color: #000000;
  --accent-color: #8aff80;
  --bg-color: #f0f0f0;
  --hover-color: #b0b0b0;
}
* {
  padding: 0;
  marging: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: var(--sec-color);
}
a {
  all: none;
}
.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}

/*media querries START*/
@media (max-width: 1200px) {
  .container {
    width: 95%;
  }
}

@media (max-width: 992px) {
  .container {
    width: 95%;
  }
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    padding: 0 10px;
  }
}

@media (max-width: 576px) {
  .container {
    width: 100%;
    padding: 0 5px;
  }
}
